<div class="container">
  <div *ngIf="categorias.length === 0; else listaCategorias" class="empty-state">
    <p>Nenhuma categoria cadastrada</p>
  </div>

  <ng-template #listaCategorias>
    <div class="recipe-grid">
      <div *ngFor="let categoria of categorias" class="recipe-card">
        <div class="card-content">
          <h3>{{ categoria.nome }}</h3>
          <p class="info-line"><span class="badge">{{ categoria.nome}}</span></p>
          <p class="info-line"> {{ categoria.descricao}} </p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<div class="d-flex justify-content-between align-items-center mb-4">
  <button class="btn btn-primary" routerLink="/nova">+ Registar Categoria</button>
</div>
